<head th:fragment="head">
    <meta charset="UTF-8">
        <title>Index</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">

        <style>
            .logo-container{
                background-color: #47BCFF;
                color: #FFF;
            }

            .font-mudi{
                font-family: 'Handlee', cursive;
                font-size: 3.5rem;
            }
        </style>
</head>



<div th:fragment="titulo(valorTitulo)" class="card-header">
    <h1 class="card-title" th:text="${valorTitulo}"></h1>
</div>