<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="card mb-4 mt-2">
            <div class="card-header">
                <h1 class="card-title"> Meus pedidos</h1>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <nav class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active" href="">Todos</a>
                            </li>
                            <li>
                                <a  class="nav-link" href="">Aguardando</a>
                            </li>    
                            <li>
                                <a  class="nav-link" href="">Aprovado</a>
                            </li>
                            <li>
                                <a  class="nav-link" href="">Entregues</a>
                            </li>
                        </nav>
                    </div>
                    <div>
                        <a href="/pedido/formulario"><button class="btn btn-outline-success my-2 my-sm-0">Novo</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div th:each="pedido: ${pedidos}" class="card">
            <div th:text="${pedido.nomeProduto}" class="card-header">
                Nome produto: 
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-8 mb-3">
                        <div class="row">
                            <div class="col-md-4">
                                Valor: R$
                                <span th:text="${pedido.valorProduto}">3000</span>
                            </div>

                            <div class="col-md-8">
                                Data da entrega: 
                                <span th:text="${pedido.dtEntrega}">10/02/2002</span>
                            </div>
                        </div>
                        <div>Produto</div>
                        <div > 
                            <input th:value="${pedido.urlProduto}" value="Link" class="form-control" readonly>
                        </div>
                        <div>
                            <textarea th:text="${pedido.descricao}" class="form-control">Descrição do produto</textarea>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div>
                            <img th:src="${pedido.urlImagem}" src="https://m.media-amazon.com/images/I/51ByS+gE4JL._AC_.jpg" class="img-thumbnail" width="300px" height="300px"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html> 