<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulario de pedido</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="card mb-4 mt-2">
            <div class="card-header">
                <h1 class="card-title">Novo pedido</h1>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <nav class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Todos</a>
                            </li>
                            <li>
                                <a  class="nav-link" href="">Aguardando</a>
                            </li>    
                            <li>
                                <a  class="nav-link" href="">Aprovado</a>
                            </li>
                            <li>
                                <a  class="nav-link" href="">Entregues</a>
                            </li>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
                <form th:object="${pedidoDto}" class="card-body" action="/pedido/novo" method="post">
                    <div class="form-group">
                        <label for="nomeProduto">Produto</label>
                        <input th:field="*{nomeProduto}" placeholder="Nome do produto" ria-describedby="emailDescribe" class="form-control">
                        <small id="emailDescribe">Informe o nome do produto</small>
                    </div>
                    <div class="form-group">
                        <label for="urlImagem">URL Imagem</label>
                        <input th:field="*{urlImagem}"  class="form-control" placeholder="Url da Imagem" ria-describedby="urlImgDescri">
                        <small id="urlImgDescri">Procure em um site o produto que você deseja</small>
                        
                    </div>
                    <div class="form-group">
                        <label for="urlProduto">URL Produto</label>
                        <input th:field="*{urlProduto}" placeholder="Url do Produto" class="form-control" ria-describedby="urlProdutoDescri">
                        <small id="urlProdutoDescri">Procure em um site o produto que você deseja</small>
                    </div>
                    <div class="form-group">
                        <label for="descricao">Descrição</label>
                        <textarea th:field="*{descricao}" class="form-control" placeholder="Adicione aqui a descrição do produto"></textarea>
                    </div>
                    <button class="btn btn-primary mt-2" type="submit">Cadastrar Produto</button>
                </form>
        </div>

    
</body>
</html>