<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{base :: head}"></head>
<body>

    <div th:replace="~{base :: header}"></div>
    <div class="container">
        <div class="card mb-4 mt-2" >
            
            <div th:replace="~{base :: titulo('Meus Pedidos')}"></div>

            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                            <nav class="nav nav-pills">
                                <li class="nav-item">
                                    <a th:classappend="${status} == 'todos' ? 'active'" class="nav-link" href="/usuario">Todos</a>
                                </li>
                                <li>
                                    <a  th:classappend="${status} == 'aguardando' ? 'active'" class="nav-link" href="/usuario/aguardando">Aguardando</a>
                                </li>    
                                <li>
                                    <a th:classappend="${status} == 'aprovado' ? 'active'" class="nav-link" href="/usuario/aprovado">Aprovado</a>
                                </li>
                                <li>
                                    <a  th:classappend="${status} == 'entregue' ? 'active'" class="nav-link" href="/usuario/entregue">Entregues</a>
                                </li>
                            </nav>
                    </div>
                    <div>
                        <a href="/pedido/formulario"><button class="btn btn-outline-success my-2 my-sm-0">Novo</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div th:each="pedido: ${pedidos}" class="card mb-3">
            <th:block th:switch="${pedido.statusPedido.name()}">
                <div th:text="${pedido.nomeProduto}" th:case="'AGUARDANDO'" class="card-header alert alert-warning">Nome produto: </div>
                <div th:text="${pedido.nomeProduto}" th:case="'APROVADO'" class="card-header alert alert-success">Nome produto: </div>
                <div th:text="${pedido.nomeProduto}" th:case= "'ENTREGUE'" class="card-header alert alert-info">Nome produto: </div>

            </th:block>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-8 mb-3">
                        <div class="row">
                            <div class="col-md-4">
                                Valor: R$
                                <span th:if="${pedido.valorProduto} != null" th:text="${#numbers.formatDecimal(pedido.valorProduto,3,'POINT',2,'COMMA')}">3000</span>
                            </div>

                            <div class="col-md-8">
                                Data da entrega: 
                                <span th:text="${#temporals.format(pedido.dtEntrega, 'dd/MM/yyyy')}">10/02/2002</span>
                            </div>
                        </div>
                        <div>Produto</div>
                        <div > 
                            <input th:value="${pedido.urlProduto}" value="Link" class="form-control" type="url" readonly>
                        </div>
                        <div>
                            <textarea th:text="${pedido.descricao}" class="form-control">Descrição do produto</textarea>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div>
                            <img th:src="${pedido.urlImagem}" src="https://m.media-amazon.com/images/I/51ByS+gE4JL._AC_.jpg" class="img-thumbnail" width="300px" height="300px"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html> 